/*
 * https://kuler.adobe.com/#themeID/2318770
 * #232621 dark bluegreen
 * #7D603E bright chocolate
 * #E0D1A3 sand
 * #5E7D4D green
 * #C74223 cherry
*/

html {
	background: #7d603e;
	color: #232621;
}
body {
	overflow-y: scroll;
}
i[class^=icon][title], .bullet{
	cursor: pointer;
}
[contenteditable]{
	outline: none;
}
.sortable-placeholder {
	height:2px;
	background:#bbb;
	padding:0;
	margin:0;
}
	#body {}
		#head { }
		#torso {
			width: 900px;
			height: 100%;
			margin: auto;
			padding: 20px 10px 10px 10px;
		}
		#torso > table {
			width : 100%;
		}
		#torso > table td{
			vertical-align: top;
		}
			#notebook {
				background: #fff;
				-webkit-box-shadow: 0 0 5px #aaa;
				box-shadow: 0 0 5px #aaa;
				border-radius: 4px;
			}
				
				#sheet {
					margin: 0 20px 10px 20px;
					padding: 10px 0 10px 0;
					min-height: 800px;
					width: 810px;
				}
				#sheet > div > .notes {
					margin-bottom: 2em;
				}
				#sheet > div > .actions, #sheet > div > .additional {
					visibility: visible;
				}
					.children.top {
						counter-reset: decimalC, upperAlphaC, lowerAlphaC;
					}
					.node:not(#sheet) {
						margin-bottom: .5em;
					}
					.node.decimal {
						counter-increment: decimalC;
					}
					.node.decimal > .children {
						counter-reset: decimalC;
					}
					.node.decimal > div > div > .title:before {
						content: counter( decimalC, decimal ) " ";
					}
					.node.decimal.dot > div > div > .title:before {
						content: counter( decimalC, decimal ) ". ";
					}
					.node.decimal.add > div > div > .title:before {
						content: counters( decimalC, "." ) " ";
					}
					.node.decimal.dot.add > div > div > .title:before {
						content: counters( decimalC, "." ) ". ";
					}
					.node.upperAlpha{
						counter-increment: upperAlphaC;
					}
					.node.upperAlpha > .children {
						counter-reset: upperAlphaC;
					}
					.node.upperAlpha > div > div .title:before {
						content: counter( upperAlphaC, upper-alpha ) " ";
					}
					.node.upperAlpha.dot > div > div >.title:before{
						content: counter( upperAlphaC, upper-alpha ) ". ";
					}
					.node.lowerAlpha{
						counter-increment: lowerAlphaC;
					}
					.node.lowerAlpha > .children {
						counter-reset: lowerAlphaC;
					}
					.node.lowerAlpha > div > div .title:before {
						content: counter( lowerAlphaC, lower-alpha ) " ";
					}
					.node.lowerAlpha.dot > div > div >.title:before{
						content: counter( lowerAlphaC, lower-alpha ) ". ";
					}
					.node-body:hover > div > .bullet{
						opacity: 1;
					}
					.bullet {
						display: inline-block;
						text-align: center;
						width: 1em;
						opacity: 0.4;
					}
					.title:empty:before, .note:visible:empty:before {
						content : "type something...";
						opacity: 0.6;
					}
					.notes {
						color:  #464C42;
						font-size: 90%;
						margin-left: 2em;
						min-height: 1em;
					}
					.notes:empty:before {
						content: "add a note...";
						opacity: 0.4;
					}
					.children{
						margin-left: .5em;
						margin-top: .5em;
						padding-left: .5em;
						border-left: solid 1px #eee;
					}
					#sheet > .children {
						margin-left: 0;
						padding-left: 0;
						border: none;
					}
					.headline > .icon-check, .headline > .icon-check-empty {
						float: right;
						margin-left: 1em;
						margin-top: .1em;
					}
					.headline > .icon-check-empty {
						visibility: hidden;
					}
					.additional, .actions {
						float: right;
						margin-left: 1em;
					}					
					.actions {
						display: none;
					}
					.node-body:hover, .node-body.active {
						background-color: #E0D1A3;/*rgba(0,0,0,.05);*/
					}
					.node-body:hover > .headline > .icon-check-empty {
						visibility: visible;
					}
					.node-body:hover > .headline > .actions {
						display: inline;						
					}
					.node-body:hover > .headline > .additional {
						display: none;
					}
					
					#addNode {
						cursor: pointer;
						opacity: .6;
					}
				#breadcrumbs {
					margin: 0 20px 10px 20px;
					padding: 10px 0 0 0;
					border-bottom: solid 1px #232621;;
				}
				#groupActions {
					margin: -10px 20px 10px 20px;
					padding: 10px;
					color: white;
					background: #5E7D4D;/*#C74223;*/
				}
				#groupActions .actions, #sheet > div > div > .actions {
					display: inline;
				}
				#breadcrumbs:empty {	
					display: none;
				}
					#breadcrumbs a:before {
						content: " > ";
					}
					#breadcrumbs a:first-child:before{
						content: "";
					}
				
			#bookmarkslist > i {
				margin-left: .5em;
				color: white;
			}
			#tagslist {
				text-align: right;
			}
			#tagslist > i {
				color: white;
				margin-right: 1em;
			}
			#bookmarks {
				margin-top: .4em;
				width: 50px;
			}
			#bookmarks a,#bookmarks a:visited, #breadcrumbs a, #breadcrumbs a:visited {
				color: #232621;
				display: inline-block;
				text-decoration: none;
			}
			#bookmarks a,#bookmarks a:visited {
				padding: .2em .4em .2em .4em;
				background: white;
				overflow: hidden;
				max-width: 50px;
				min-width: 2em;
				white-space: nowrap;
				text-overflow: ellipsis;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				margin-bottom: .2em;
			}
			#breadcrumbs a:hover, #bradcrumbs a:active {
				color: #E0D1A3;
			}
			#bookmarks a:active, #bookmarks a:hover, #bookmarks a.active {
				background: #E0D1A3;
			}
		
		#feet {
		
		}
				