/*
 * https://kuler.adobe.com/#themeID/2318770
 * #232621 dark bluegreen
 * #7D603E bright chocolate
 * #E0D1A3 sand
 * #5E7D4D green
 * #C74223 cherry
*/

html {
	background: #7d603e;
	color: #232621;
}
i[class^=icon][title], .bullet{
	cursor: pointer;
}
[contenteditable]{
	outline: none;
}
	#body {}
		#head { }
		#torso {
			width: 900px;
			height: 100%;
			margin: auto;
			padding: 20px 10px 10px 10px;
		}
			#notebook {
				background: #fff;
			}
				#breadcrumbs {
					margin: 0 20px 10px 20px;
					padding: 10px 0 0 0;
					border-bottom: solid 1px #232621;;
				}
				#breadcrumbs:empty {	
					display: none;
				}
					#breadcrumbs > a {
						text-decoration: none;
					}
					#breadcrumbs > a:before {
						content: " > ";
					}
					#breadcrumbs > a:first-child:before{
						content: "";
					}
				
				#sheet {
					margin: 0 20px 10px 20px;
					padding: 10px 0 0 0;
					min-height: 800px;
				}
				#sheet > .notes {
					margin-bottom: 2em;
				}
				#sheet > div > .actions, #sheet > div > .additional {
					visibility: visible;
				}
					.bullet {
						display: inline-block;
						width: 1em;
					}
					.node {
						margin-bottom: .5em;
					}
					.title:empty:before, .note:visible:empty:before {
						content : "type something...";
						opacity: 0.6;
					}
					.notes {
						color:  #464C42;
						font-size: 90%;
						margin-left: 2em;
					}
					.children {
						margin-left: 1em;
						margin-top: .5em;
					}
					#sheet>.children{
						margin-left: 0;
					}
					.additional, .actions {
						float: right;
					}
					.actions {
						visibility: hidden;
						margin-left: 1em;
					}
					.node-body:hover {
						background-color: rgba(0,0,0,.05);
					}
					.node-body:hover > .headline > .actions {
						visibility: visible;						
					}
					
					#addNode {
						cursor: pointer;
						opacity: .6;
						padding-bottom: 2em;
					}
				
			
			#bookmarks { 
			
			}
		
		#feet {
		
		}
				